$backColor:#E7E9ED;

.boardSection{
  width:23.5%;
  height: 5rem;
  border-radius: 5px;
  background-color: $backColor;
  transition: background-color 0.2s;
  cursor: pointer;
  &:hover{
    background-color: darken($backColor,10);
  }
}
