$backColor: #E7E9ED;

.boardSection {
  width: 23.5%;
  height: 6rem;
  border-radius: 5px;
  margin-right: 1.5%;
  margin-bottom: 1.5%;
  color: white;
  transition: background-color 0.2s;
  cursor: pointer;
}

.boardSectionInner {
  height: 100%;
  width: 100%;
  position: relative;

  &:hover {
    background-color: rgba(0, 0, 0, 0.15);

    .favoriteButton {
      right: 0.7rem;
      opacity: 1;
    }
  }
}

.title {
  padding: 0.8rem;
  font-weight: bold;
  margin: 0;
}

.teamName {
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: 0.7rem;
  left: 0.8rem;
}

.boardSectionEmpty {
  background-color: $backColor;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}


.favoriteButton {
  position: absolute;
  bottom: 0.7rem;
  right: 0;
  opacity: 0;
  transition: all 200ms !important;
  font-size: 1rem !important;
  font-weight: bold;
  &:hover {
    transform: scale(1.2);
  }
}

.favoriteButtonActive {
  color: #e6c60d;
  right: 0.7rem;
  opacity: 1;
}
