.boardBody {
  height: calc(100% - 3.5rem);
  min-width: calc(100% - 1rem);
  overflow-x: visible !important;
  max-width: 100%;
  width: fit-content;
  padding: 0.2rem 0;
  display: flex;
  background: inherit;
}
