.home{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.button{
  background-color: #57d357 !important;
  margin-bottom: 2rem !important;
}

.buttonDisabled{
  background-color: #dfe3e6 !important;
  a{
    color: #f0f6fb !important;
  }
}

.link{
  text-decoration: none;
  color:white !important;
}
